<?xml version="1.0"?>

<robot name="vehicle" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="laser_enabled" default="false" />
  <xacro:arg name="camera_enabled" default="false" />
  <xacro:arg name="navsat_enabled" default="false" />
  <xacro:arg name="velodyne_enabled" default="false" />

  <xacro:include filename="$(find four_wheel_steering_description)/urdf/chassis.xacro" />
  <xacro:include filename="$(find four_wheel_steering_description)/urdf/sensors.xacro" />

  <!-- Base Properties -->
  <xacro:property name="mass_base" value="500" />
  <xacro:property name="base_x_size" value="1.66000" />
  <xacro:property name="base_y_size" value="0.60000" />
  <xacro:property name="base_z_size" value="0.66000" />

  <xacro:property name="wheelbase" value="2" />
  <xacro:property name="track" value="1.1" />

  <!-- Wheel Mounting Positions -->
  <xacro:property name="ground_clearance" value="0.35" />
  <xacro:property name="wheel_x_offset" value="0.0" />
  <xacro:property name="wheel_y_offset" value="0.1" />

  <!-- LIDAR Properties -->
  <xacro:property name="lidar_ground_clearance" value="0.69" />
  <xacro:property name="lidar_x_offset" value="1.2" />

  <xacro:macro name="vehicle">

    <xacro:chassis>
      <!-- visual chassis -->
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="${base_x_size} ${base_y_size} ${base_z_size}"/>
        </geometry>
        <material name="grey">
          <color rgba="0.6 0.6 0.6 1"/>
        </material>
      </visual>
      <!-- visual steering -->
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.05 ${steering_link_y} 0.05"/>
        </geometry>
        <material name="blue">
          <color rgba="0.2 0.2 0.6 1"/>
        </material>
      </visual>
      <!-- visual wheel -->
      <visual>
        <origin xyz="0 0 0" rpy="${M_PI/2} 0 0" />
        <geometry>
          <cylinder length="${wheel_length}" radius="${wheel_radius}"/>
          <!--<mesh filename="package://four_wheel_steering_description/meshes/wheel.dae"/>-->
        </geometry>
        <material name="black">
          <color rgba="0 0 0 1"/>
        </material>
      </visual>
    </xacro:chassis>
    <xacro:sensors/>

  </xacro:macro>
  <xacro:vehicle />
</robot>
